body,
ul,
nav {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  height: 100vh;
  width: 80vw;
  display: grid;
  grid-template-rows: 70% minmax(26px, 30%) minmax(55px, 90px);
  justify-content: center;
  max-width: 1440px;
}

aside {
  height: min-content;
}

a {
  text-decoration: none;
}

.billboard {
  background-image: url(../img/your_verse_hero.jpg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 1440px 1315px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #08c;
}

footer div li {
  display: inline;
  padding: 0 0.5em;
  border-left: 1px solid #ccc;
}

.banners a {
  overflow: hidden;
  display: inline-block;
}

.banners img {
  width: 100%;
}

.title a {
  height: 95px;
}

.video-link a {
  height: 32px;
}

.video-link img:hover {
  margin-top: -32px;
}

.promos {
  max-width: 1440px;
  display: flex;
  justify-content: center;
}

li:first-child,
li:last-child {
  border: none;
}

.promos li {
  display: inline;
  padding: 0.07em;
}

.navbar li {
  display: inline;
}

.promos li:first-child {
  padding-left: 0;
}

.promos li:last-child {
  padding-right: 0;
}

.promos ul {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100vw;
}

.navbar {
  position: absolute;
  top: 10%;
  width: 65%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 0.45) 100%), linear-gradient(to left, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0) 0.2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(to bottom, #666 0, #5e5e5e 50%, #707070 51%, #808080 100%);
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  height: 36px;
  border-radius: 4px;
  justify-self: center;
  left: 17.5%;
}

.navbar a {
  font: 0.79em Helvetica, Arial, Verdana, sans-serif;
  color: #f5f5f5;
  width: 100%;
  overflow: hidden;
  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D") 0 2 0 1;
  border-width: 0 2px 0 1px;
  border-style: solid;
  padding: 11px 34px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
}

nav a:nth-child(1) {
  border: none;
}

.navbar a:hover {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAQAAADifZiHAAAAJ0lEQVQIW2P4L8zE8JeJ4R8q%2Bo%2BKCIH%2FjEA1TAyMSIgJRkIQM9BYAGa0Dj%2FXpUiAAAAAAElFTkSuQmCC') repeat-x 0 0, repeat-y 0 0, rgba(0, 0, 0, 0.4);
}

.navbar svg {
  height: 28px;
  margin-left: -46px;
}

form {
  margin: 0 1em;
  display: flex;
  justify-content: flex-end;
}

form input {
  width: 7em;
  border-radius: 12px;
  background-color: #707070;
  border: none;
  padding: 1px 18px 5px 0;
  transition: width 1s;
}

.search-field i {
  position: absolute;
  top: 3px;
}

form input:hover {
  width: 12em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.search-field > .fa-search {
  left: 5px;
}

.search-field > .fa-times-circle {
  right: 4px;
}

.search-field > input:hover ~ i {
  color: rgb(128, 126, 126);
  display: block;
}

.search-field > input:not(:hover) ~ .fa-search {
  color: #fff;
}

.search-field > input:not(:hover) ~ .fa-times-circle {
  display: none;
}

.search-field {
  position: relative;
}

footer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  height: min-content;
  color: #6e6e6e;
  font-size: 0.7334em;
  line-height: 1.2;
  margin-left: 10%;
  align-self: center;
}

footer div {
  height: 2.5em;
}

footer div:first-child {
  width: 100%;
}

footer div:nth-child(2) {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

footer div:last-child,
footer div:nth-child(2) {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

footer div:nth-child(2) li:last-child img {
  vertical-align: bottom;
}

.navbar a:first-child {
  padding: 4px 29px;
}

@media (width: 1400px) {
  body {
    max-width: 1440px;
  }
}
